body{
	/*removes whitespace around the webpage*/
	margin: 0;
}

* {
	margin: 0 auto 0 auto;
}

.header {
	overflow: hidden;
	height: 45px;
	width: 100%;
 	background-color: #3d4751;
}

.header .headerButton {
 	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 1em;
	text-decoration: none;
	font-size: 15px;
	outline: none;
}

.header input {
	cursor: pointer;
	margin-left: -4%;
	border: none;
	background: none;
	color: black;
	font-family: inherit;
	font-size: 16px;
	text-align: left;
}

/* for Chrome: */
.header input:focus {
	outline: 0;
}


.header .headerButton:hover {
	background-color: #ddd;
 	color: black;
}


.dropDown {
	z-index: 1;
    float: right;
    overflow: hidden;
}

.dropDown .dropbtn {
    font-size: 16px;    
    border: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

.dropDownContent {
	cursor: default;
	width: 10em;
	right: 1em;
	top: 45px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    z-index: 1;
}

.dropDownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDownContent a:hover {
    background-color: #ddd;
    color: black;

}

.dropDown:hover .dropDownContent {
    display: block;
}

.body{
	overflow: hidden;
	background-image:url('images/background.png');
	background-repeat: repeat;
	height: 100%;
	width: 100%;
}

.page{
	height: 100%;
	width: 100%;
}

.footer{
	position: fixed;
	bottom: 0%;
	height: 50px;
	width: 100%;
	background-color: #3d4751;
	font-size: 10pt;
	color: #d9d9d9;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
}

.logo{
	height: 100%;
	width:auto;	
}

.form{
	top: 8em;
	font-family: "Roboto", sans-serif;
 	position: relative;
  	background: white;
  	max-width: 360px;
  	margin: 0 auto 100px;
  	padding: 45px;
  	text-align: center;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.field {
  	font-family: "Roboto", sans-serif;
  	background: #f2f2f2;
  	width: 100%;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
}
.form button {
  	font-family: "Roboto", sans-serif;
  	text-transform: uppercase;
  	outline: 0;
  	background: #98defd;
  	width: 100%;
  	border: 0;
  	padding: 15px;
  	color: white;
  	font-size: 14px;
}
.form button:hover,.form button:active,.form button:focus {
  	background: #3fc5ff;
}
.form .message {
  	margin: 15px 0 0;
  	color: #b3b3b3;
  	font-size: 12px;
}
.form .message a {
  	color: #98defd;
  	text-decoration: none;
}

#checkbox{
	vertical-align: middle;
    position: relative;
	font-size: 8pt;
  	float: left;
}


#checkboxLabel{
	padding-bottom: 2em;
	padding-top: 1em;
	font-size: 9pt;
	float:left;
	color: #3d4751
}

#checkboxLabel a {
	color: #3d4751;
	text-decoration: none;
}

#checkboxLabel a:hover{
	color: #3fc5ff;
}



#homepage{
	width:750px;
	position:relative;
	color:black;
	text-align:center;
	top: 20%; 
	font-weight: bolder;
	text-shadow:5px 5px 10px #3d4751;
	font-size: 50pt;
	font-family: 'Montserrat'; 
	color: white;
}

#homepage span{
	color: #98defd;
}

.toolbar{
	background-color: white;
	width:16px;
	padding-left:20px;
	float: left;
}

#slogan{
	position: absolute;
	top: 42%; 
	width: 100%;
	color: white;
	text-align:center;
	font-size: 15pt;
	text-shadow: none;
	font-family: 'Montserrat'; 
}

#homeAbout{
	position: absolute;
	top: 60%; 
	width: 50%;
	margin: 0% 25%; 
	text-align:center;
	color: white;
	font-size: 10pt;
	font-family: 'Dosis'; 
	text-shadow: none;
}





































